# .gitmodules

[submodule "hackage"]
	path = hackage
	url = git://github.com/commercialhaskell/all-cabal-files.git
	branch = hackage

[submodule "tools/spec-cleaner"]
	path = tools/spec-cleaner
	url = git://github.com/openSUSE-haskell/spec-cleaner.git
